# Node
node_modules/

# OS files
.DS_Store
Thumbs.db

# Env / secrets
.env
.credentials

# cloudflared config (if present locally)
.cloudflared/

# IDE
.vscode/
.idea/

# logs
*.log

# compiled
dist/
